:root {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-accent: initial;

    --color-gray: #7E7E7E;
    --color-red: #FB464C;
    --color-orange: #E9973F;
    --color-yellow: #E0DE71;
    --color-green: #44CF6E;
    --color-blue: #53DFDD;
    --color-purple: #A882FF;

    --color-node: var(--color-gray);

    --edge-width: 2px;
    --node-group-border-width: 2px;
    --node-file-border-width: 2px;
}

body {
    margin: 0;
    padding: 128px;
    width: max-content;
    height: max-content;

    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    color: var(--color-accent);
}

svg line {
    stroke: var(--color-node);
    stroke-width: var(--edge-width);
}
