@media screen and (prefers-color-scheme: dark) {
    :root:root {
        --color-background: #1e1e1e;
        --color-foreground: #ffffff;
        --color-accent: #218cff;

        --color-canvas-gray: #7E7E7E;
        --color-canvas-red: #FB464C;
        --color-canvas-orange: #E9973F;
        --color-canvas-yellow: #E0DE71;
        --color-canvas-green: #44CF6E;
        --color-canvas-blue: #53DFDD;
        --color-canvas-purple: #A882FF;
    }
}
